@using Domain.Model;
@using Common;

@model PageInfo<AcceptOrder>
@{
    var viewName = "Index";
    var rowStyle = "odd gradeX";
}
<div class="row">

    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">验收单</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body  am-fr">
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                    <div class="am-form-group">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" data-role="Edit" class="am-btn am-btn-default am-btn-success" onclick="location.href='@Url.Action("AcceptAdd")'"><span class="am-icon-plus"></span> 新增</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                    <div class="am-form-group">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                @*  <button type="button" class="am-btn am-btn-default am-btn-success" onclick="location.href='@Url.Action("ApplyJobAdd")'"><span class="am-icon-plus"></span> 新增</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                        <input class="am-form-field " type="text" id="txt_search" placeholder="请输入验收单号...">
                        <span class="am-input-group-btn">
                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" onclick="Search()" type="button"></button>
                        </span>
                    </div>
                </div>
                <div class="am-u-sm-12">
                    <table class="am-table am-table-compact am-table-striped tpl-table-black " id="tb" width="100%">
                        <thead>
                            <tr>
                                <th>验收单号</th>
                                <th>采购单号</th>
                                <th>验收总数量</th>
                                <th>验收总金额</th>
                                <th>状态</th>
                                <th>备注</th>
                                <th>验收时间</th>
                                <th>验收人</th>
                                <th>最后操作人</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model.List)
                            {
                                <tr class=@rowStyle>
                                    <td>@row.AcceptOrderNo</td>
                                    <td>@row.PurchaseOrderNo</td>
                                    <td>@row.AcceptNum</td>
                                    <td>@row.SumPrice</td>
                                    <td>@row.Status</td>
                                    <td>@row.Remark</td>
                                    <td>@row.AcceptDate</td>
                                    <td>@row.Accepter</td>
                                    <td>@row.Oper</td>
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a href=@Url.Action("AcceptDetail",  new { AcceptOrderNo = row.AcceptOrderNo })>
                                                <i class="am-icon-pencil"></i> 详情
                                            </a>
                                            <a data-role="Edit" href=@Url.Action("AcceptEidt", new { AcceptOrderNo = row.AcceptOrderNo }) class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 编辑
                                            </a>
                                            <a data-role="Delete" href=@Url.Action("AcceptDel", new { id=row.ID}) class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                            <a data-role="Approve" href=@Url.Action("AcceptApprove", new { id=row.ID}) class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 审批
                                            </a>
                                            @*<a data-role="Reject" href=@Url.Action("AcceptReject", new { id=row.ID}) class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 驳回
                                            </a>*@
                                        </div>
                                    </td>
                                </tr>
                                rowStyle = "even gradeC";
                            }
                        </tbody>
                    </table>
                </div>
                <div class="am-u-lg-12 am-cf">
                    <div class="am-fr">
                        <ul class="am-pagination tpl-pagination">
                            <li>
                                <a href=@Url.Action(viewName, new { p = 1,searchFild=ViewBag.searchFild })>«</a>
                            </li>
                            @for (int i = Model.Index - 4; i < Model.Index; i++)
                            {
                                if (i > 0)
                                {
                                    <li><a href=@Url.Action(viewName, new { p = i,searchFild=ViewBag.searchFild  })>@i</a></li>
                                }
                            }
                            <li class="am-active"><a href="#">@Model.Index</a></li>
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (Model.Index + i <= Math.Ceiling((decimal)Model.Count / Model.PageSize))
                                {
                                    <li><a href=@Url.Action(viewName, new { p = Model.Index + i,searchFild=ViewBag.searchFild  })>@(@Model.Index + @i)</a></li>
                                }
                            }
                            <li>
                                <a href=@Url.Action(viewName, new { p = Math.Ceiling((decimal)Model.Count / Model.PageSize),searchFild=ViewBag.searchFild  })>»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
      $(function(){
          if("@TempData["Msg"]"!="")
              layer.msg("@TempData["Msg"]");
       });
</script>
<script src="~/scripts/amazeui.datatables.min.js"></script>

@section scripts{

    function Search(){

    var value = $("#txt_search").val();

    location.href='@Url.Action("Index")'+'?searchFild='+value;

    }

}