@using Domain.Models.HeadStage;
@model Company


<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">公司信息</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body am-fr">
                @using (Html.BeginForm("SaveCompany", "AboutUs", FormMethod.Post, new { @class = "am-form tpl-form-line-form" }))
                {
                    @Html.HiddenFor(o => o.ID, new { Value = Model?.ID })
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">公司简介</label>
                        <div class="am-u-sm-9">
                            @Html.TextAreaFor(o=>o.Generalization,10, 10, new { @class = "tpl-form-input", placeholder = "请输入公司简介" })
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-3 am-form-label">企业文化</label>
                        <div class="am-u-sm-9">
                            @Html.TextAreaFor(o=>o.Culture, 10, 10, new { @class = "tpl-form-input", placeholder = "请输入企业文化" })
                        </div>
                    </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success " >保存</button>
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
      $(function(){
          if("@ViewBag.Msg"!="")
              layer.msg("@ViewBag.Msg");
       });
</script>


